dist: xenial
sudo: required
language: python
addons:
  hostname: rmq.eandersson.net
  hosts:
    - rmq.eandersson.net
python:
  - 2.7
  - 3.5
  - 3.6
  - 3.7
before_install:
  - docker pull eandersson86/amqpstorm-rabbitmq-ci:latest
  - docker run -d --hostname rmq.eandersson.net --name travis-rmq -p 5671:5671 -p 5672:5672 -p 15672:15672 eandersson86/amqpstorm-rabbitmq-ci:latest
  - sleep 15s
  - nc -zv localhost 5671
  - nc -zv localhost 5672
  - nc -zv localhost 15672
install:
  - pip install -r requirements.txt
  - pip install -r test-requirements.txt
script:
  - nosetests -v -l DEBUG --logging-level=DEBUG --with-coverage --cover-package=amqpstorm --with-timer --timer-top-n 10
  - flake8 --ignore=F821,W605 .
after_success:
  - bash <(curl -s https://codecov.io/bash)
services:
  - docker
