dist: trusty
sudo: required
language: python
python:
  - 2.7
  - 3.5
  - 3.6
  - 3.7
  - nightly
  - pypy
install:
  - sudo rabbitmq-plugins enable rabbitmq_management
  - sudo service rabbitmq-server restart
  - pip install -r requirements.txt
  - pip install -r test-requirements.txt
script: nosetests -v -l DEBUG --logging-level=DEBUG --with-coverage --cover-package=amqpstorm --with-timer --timer-top-n 10
before_script:
  - flake8 --ignore=F821 .
after_success:
  - bash <(curl -s https://codecov.io/bash)
services:
  - rabbitmq
