[ ca ]
default_ca = testca

[ testca ]
dir             = /etc/rabbitmq/ssl
certificate     = $dir/ca_certificate.pem
database        = $dir/index.txt
new_certs_dir   = $dir/certs
private_key     = $dir/private/ca_private_key.pem
serial          = $dir/serial

default_crl_days = 7
default_days     = 365
default_md       = sha384

policy          = testca_policy
x509_extensions = server_ca_extensions

[ testca_policy ]
commonName             = supplied
stateOrProvinceName    = optional
countryName            = optional
emailAddress           = optional
organizationName       = optional
organizationalUnitName = optional
domainComponent        = optional

[ req ]
default_md         = sha384
default_keyfile    = ./private/ca_private_key.pem
prompt             = yes
distinguished_name = root_ca_distinguished_name
x509_extensions    = root_ca_extensions

[ root_ca_distinguished_name ]
commonName = hostname

[ root_ca_extensions ]
basicConstraints     = critical, CA:TRUE
keyUsage             = critical, keyCertSign, cRLSign
subjectKeyIdentifier = hash

[ client_ca_extensions ]
basicConstraints       = critical, CA:FALSE
keyUsage               = critical, digitalSignature
extendedKeyUsage       = clientAuth
subjectKeyIdentifier   = hash
authorityKeyIdentifier = keyid:always

[ server_ca_extensions ]
basicConstraints       = critical, CA:FALSE
keyUsage               = critical, digitalSignature
extendedKeyUsage       = serverAuth
subjectKeyIdentifier   = hash
authorityKeyIdentifier = keyid:always
subjectAltName         = @server_alt_names

[ server_alt_names ]
DNS.1 = rmq.eandersson.net
DNS.2 = localhost
IP.1  = 127.0.0.1
